// Define variables for your color scheme

// Basic colors
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our theme colors
$forest-green-traditional: #004b23ff;
$dark-green-x-11: #006400ff;
$pakistan-green: #007200ff;
$ao-english: #008000ff;
$yellow-green-color-wheel: #38b000ff;
$sheen-green: #70e000ff;
$green-lizard: #9ef01aff;
$electric-lime: #ccff33ff;
