// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "Helvetica", "sans-serif";
$headers-font: "Syne", "Helvetica", "sans-serif";

h1 {
  font-weight: 800 !important;
}

// a {
//   font-family: $body-font !important;
// }

h2, h3, h4, h5 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

.text-center {
  margin: 40px auto;
}
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// h1 {
//   font-family: 'Lato', sans-serif;
//   font-weight: 500;
// }

// h3 {
//   font-family: 'Lato', sans-serif;
//   font-weight: 400;
// }

// p {
//   font-family: 'Lato', sans-serif;
// }
