<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="<%= root_path %>" class="logo">IndieShopper</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="<%= root_path %>" class="nav-item nav-link active">Home</a>
                <a href="/my_shop" class="nav-item nav-link">My Shop</a>
                <a href="/reservations" class="nav-item nav-link">Product Reservations</a>



            </div>
            <div class="navbar-nav">
                <%= link_to "Basket", basket_path(current_user.basket), class: "nav-item nav-link" %>
                <a href="/users/sign_in" class="nav-item nav-link">Login</a>
                <a href="/users/sign_up" class="nav-item nav-link">Register</a>
            </div>
        </div>
    </div>
</nav>
