      <header>
        <h2><a href="#" class="logo">Indieshopper</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
      </header>
    <div class="homepage-container">
      <div class="content">
        <div class="info">
          <h1>Indieshopper <br><span>Buy local!</span></h1>
          <p>Hot businesses in your area dying to meet you</p>
          <input type="text" name="search" placeholder="Search..">
          <a href="#" class="info-btn">Get started</a>
        </div>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
