      <header>
        <h2><a href="#" class="logo">Indieshopper</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
      </header>

    <div class="homepage-container">
      <div class="content">
        <div class="info">
          <h1>Indieshopper <br>Buy local!</h1>
          <h2>Hot businesses in your area dying to meet you</h2>
          <input type="text" name="search" placeholder="Search..">
          <a href="#" class="btn">Get started</a>
        </div>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="cards-container">
      <div class="home-card">
        <%= image_tag "storeicon.png" %>
        <h3>Test</h3>
        <p>Test 2</p>
      </div>
    </div>
