<div class="homepage-container">
  <div class="content">
    <div class="info">
      <h1>IndieShopper</h1>
      <h2>Shop from local independent stores!</h2>
      <div class="homepage-searchbar">
        <form action="shops_path" method="get" class="d-flex container mt-4 gap-2">
          <input type="text" name="query"  placeholder="Type a product, shop or address">
          <input type="submit" value="Search" class="btn">
        </form>
      </div>
    </div>
  </div>
</div>

<footer></footer>
