      <header>
        <h2><a href="#" class="logo">Indieshopper</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>

      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>

      <div>
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
      </header>

    <div class="homepage-container">
      <div class="content">
        <div class="info">
          <h1>Indieshopper</h1>
          <h2>Shop from local independent stores!</h2>
        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
          </div>
        </div>
      </div>
    </div>
</body>

<footer>
</footer>
</html>
