<div class="homepage-container">
  <div class="homepage-content">
    <div class="homepage-info">
      <h1>IndieShopper</h1>
      <h2>Shop from local independent stores!</h2>
      <div class="homepage-searchbar">
        <%= form_with url: shops_path, method: :get, class: "container search-bar" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a product, shop or address" %>
        <%= submit_tag "Search", class: "btn" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<footer></footer>
