.chat {
  position: fixed;
  bottom: 0;
  right: 10px;
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: $dark-green-x-11;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat-messages {
  max-height: 400px;
  overflow: scroll;
  padding: 15px 10px 0px 10px;
}

#chat-cross {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
}

.fa-comments {
  position: fixed;
  bottom: 15px;
  right: 30px;
}
