.chat {
  position: fixed;
  bottom: 0;
  right: 10px;
  background-color: white;
}

.chat-messages {
  max-height: 400px;
  overflow: scroll;
  padding: 12px 8px 0px 8px;
}

#chat-cross {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
}
