.reviews-container hr {
  width: 50%;
}

.review-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.review {
  margin-top: 30px;
  margin-bottom: 30px;
}

.review-form {
  margin-top: 30px;
  margin-bottom: 30px;
}
