.shop-card {
  height: 250px;
  position: relative;
  margin-bottom: 96px;
}

.shop-card-text {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 250px;
  width: 716px;
  text-align: center;
  background-color: #ebf2fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3E4C53;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
