.basket {
  display: grid;
  grid-template-columns: 20% 20% 30% 10%;
  align-items: flex-end ;
  column-gap: 5%;
}

.basket-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.basket-text {
  display: flex;
  align-items: flex-end;
  margin: 0px;
  overflow-x: hidden;
}

.basket-total {
  margin-right: 47px;
  display: flex;
  justify-content: flex-end;
}

.delete-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
